AllHourlyAggregate.csv filter=lfs diff=lfs merge=lfs -text
data/paris-iris-2020-1-OnlyWeekdays-MonthlyAggregate.csv filter=lfs diff=lfs merge=lfs -text
data/paris-iris-2020-1-OnlyWeekends-MonthlyAggregate.csv filter=lfs diff=lfs merge=lfs -text
